body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
h1 {
  font-family: 'Saira Stencil One';
}

  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }

  .yellowBack {
    background: rgb(229, 255, 0);
  }

  .whiteBack {
      background: #fff;
  }

  .redBack {
      background: rgb(255, 16, 16);
  }
  
  .square {
    border: 1px solid #999;
    float: left;
    font-size: 30px;
    font-weight: bold;
    line-height: 34px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
  }

  .mainDiv {
      margin: 60px 0px 0px 500px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .moveThis {
      margin: 100px 0px 0px 450px;
      padding: 0px 0px 0px 0px;
  }

  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin: 0px 0px 0px 100px;
  }
  